/* modal.css */

/* Modal Container */
.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
     background-color: rgba(0, 0, 0, 0.1); /*Semi-transparent overlay */
    z-index: 1000;
    transition: opacity 0.3s ease;
    margin: 0 !important;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* max-width: 500px; */
    width: 100%; /* Adjust for responsive design */
    height: 100vh;
    padding: 12px 12px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    animation: modal-fade-in .5s ease; /* Fade-in animation */

  }
  
  /* Modal Close Button */
  .modal-close-button {
    position: absolute;
    top: 0px;
    right: 0px;
    background: transparent;
    border: none;
    color: #333;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.2s;
    animation: modal-fade-in .1s ease; /* Fade-in animation */

  }
  
  .modal-close-button:hover {
    color: #666;
  }
  .no-scroll{
    overflow:hidden !important;
  }
  /* Fade-in animation for the modal content */
  @keyframes modal-fade-in {
    from {
      opacity: 0;
      transform: translateY(2000px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
 