/* modal.css */

/* Modal Container */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(186, 186, 186, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: flex-end; /* pornește de jos */
}

.modal-base {
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  width: 100%;
  max-width: 600px; /* opțional, pe desktop */
  transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateY(100%);
  opacity: 0;
  animation: modal-fade-in 0.4s forwards;
  position: relative;
}

.modal-title {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
  font-size: 1.4em;
  font-weight: bold;
  padding: 12px 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin: 0 auto;
}

.modal-body {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px 0;

  /* Ascunde scrollbar-ul (cross-browser) */
  scrollbar-width: none;         /* Firefox */
  -ms-overflow-style: none;      /* IE 10+ */
  min-height: 65%;
}

.modal-body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.modal-footer {
  position: sticky;
  bottom: 0;
  background-color: #fff;
  z-index: 2;
  border-top: 1px solid #ccc;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}


.modal-50 {
  height: 70vh;
}

.modal-100 {
  height: 100vh;
}

.modal-close-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: #000;
  /* background-color: #000; */
  z-index: 3;
  padding: 0px;
}
  
  .modal-close-button:hover {
    color: #666;
  }
  .no-scroll{
    overflow:hidden !important;
  }
  /* Fade-in animation for the modal content */
  @keyframes modal-fade-in {
    from {
      opacity: 0;
      transform: translateY(2000px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
 